@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  height: 300vh;
  overflow-x: hidden;
  margin: 0;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #333;
  color: white;
}

h1 {
  font-size: 5vw;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.comparisonImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comparisonImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.afterImage {
  overflow: hidden;
  transform: translateX(100%);
}

.afterImage img {
  transform: translateX(-100%);
}
